@media only screen and (min-width: 768px){

    #topSection{
        height:auto;
        max-height: 600px;
    }

    #topSection .logo{
        position: absolute;
        left:50px;
        top:-50px;
        display:block;
        max-width:150px;
        margin:auto;
        margin-top:10px;
    }

    #topSection .text{
        margin-top:100px;
    }

    #topSection h1,
    #topSection h2,
    #topSection h4,
    #topSection p{
        display: block;
        margin:auto;
        text-align: left;
        margin-left:50px
    }

    #topSection h2,
    #topSection h4{
        line-height: 60px;
        max-width: 500px;
    }

    #topSection h4{
        font-size: 40px;
    }

    #topSection h2{
        font-size: 60px;
    }

    #topSection h1{
        font-size:80px;
    }

    #topSection p{
        margin: 0px 0px 0px 50px;
        max-width: 400px;
        font-size:25px;
        line-height: 30px;
    }

    #topSection .alert{
        display: block;
        position: relative;
        margin-top:200px;
    }

    #topSection form{
        margin-top:100px;
    }

    #secondAbout{
        position:relative;
        background:#fff;
        margin: auto;
    }

    
    #secondAbout img{
        transform: scale(.75);
        top:-150px;
        left:50px;
        z-index: 10;
    }

    #secondAbout .text{
        position: relative;
        left:-100px;
        padding: 100px 50px 100px 70px;
        background-color: var(--bg-pink);
        z-index: 5;
    }

    #secondAbout .text h2,
    #secondAbout .text i{
        line-height: 20px;
    }

    #secondAbout .text h2{
        font-size: 30px;
    }

    #secondAbout .text i{
        font-size: 20px;
    }

    #footerSection .mancha{
        position: absolute;
        top:10px;
    }

    #footerSection h2{
        font-size: 45px;
        width:100%;
        max-width: 900px;
        letter-spacing: 8px;
    }

    #footerSection .numbers h3,
    #footerSection .numbers h4{
        line-height: 35px;
    }

    
    #footerSection .numbers h3{
        font-size: 100px;
        font-weight: inherit;
    }

    #weWorkSection{
        position: relative;
        background: var(--bg-degrate-dark);
        overflow: hidden;
    }
    

}